<div class="header">
  <div class="container">
 
    <h1>Add a new link</h1>
  </div>
</div>

 <div class="create">
  <div class="container">
    
    <%= form_for @link do |f| %>
      <%= f.label :link %>:
      <%= f.text_area :link, size: "60x1" %>
   <br>
      <%= f.label :usermyid %>:
      <%= f.text_field :usermyid, size: "6x1" %>
      <br>
      <%= f.submit "Add" %>
    <% end %>
    
  </div>
</div>